{:db {:classname "org.postgresql.Driver"
      :subprotocol "postgresql"
      :subname "//localhost:5432/kaenkkybbs"
      :user "username"
      :password "password"
      :url "jdbc:postgresql://localhost/kaenkkybbs?user=username&password=password"}
 :http-server {:port 8080}}
