body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}

p  {
  font-size: 1.1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #dc1e32;
  text-decoration: none;
}

a:hover {
  color: #aa3034;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: #dc1e32;
  border-width: 0;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

button:hover {
  background: #aa3034;
}

#layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  flex-grow: 1;
  background-color: #dc1e32;
  padding: 10px;
}

#header h1,
#header h1 a,
#header h1 a:hover {
  margin: 0;
  padding: 0;
  color: white;
}

#main {
  margin: 10px;
}

.post {
  margin-bottom: 10px;
  padding: 10px;
  background-color: linen;
}
