/* COMMON */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}

p  {
  font-size: 1.1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #dc1e32;
  text-decoration: none;
}

a:hover {
  color: #aa3034;
}

button {
  padding: 10px;
  background-color: #dc1e32;
  border-width: 0;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

button:hover,
button:focus {
  background: #aa3034;
}

.badge {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  background: #dc1e32;
  color: white;
  border-radius: 3px;
  padding: 2px 3px;
  margin: 0 5px;
}

#layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  margin: 10px;
}

#main > section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* HEADER */

#header {
  flex-grow: 1;
  background-color: #dc1e32;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  padding: 10px;
}

#header h1,
#header h1 a,
#header h1 a:hover {
  margin: 0;
  padding: 0;
  color: white;
}

/* HOME ROUTE */

.thread-list {
  flex-grow: 1;
}

.thread-item {
  background: bisque;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

a.thread-item:hover,
a.thread-item:focus {
  background-color: wheat;
}

.thread-item .meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #333;
  font-size: 0.9rem;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.thread-item .meta .started_by {
  display: flex;
  align-items: center;
}

.thread-item .title {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: none;
  margin: 10px 0 0 0;
}

.thread-item .message {
  margin: 20px 0 0 0;
}

/* THREAD ROUTE */

.thread-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-item {
  background: bisque;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.post-item.first {
  padding: 7px;
  border: 3px solid wheat;
}

.post-item .meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #333;
  font-size: 0.9rem;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.post-item .title {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: none;
  margin: 10px 0 0 0;
}

.post-item .meta .started_by,
.post-item .meta .posted_by {
  display: flex;
  align-items: center;
}

.post-item .message {
  font-size: 1rem;
  margin: 20px 0 0 0;
}

/* NEW POST/THREAD FORMS */

.new-post,
.new-thread {
  background: tomato;
  padding: 10px;
}

.new-post h3,
.new-thread h3 {
  color: white;
  margin: 0 0 10px 0;
}

.new-post form,
.new-thread form {
  display: flex;
  flex-direction: column;
}

.new-post label,
.new-thread label {
  margin-bottom: 5px;
  color: white;
}

.new-post select,
.new-thread select {
  margin-bottom: 10px;
}

.new-post textarea,
.new-thread textarea {
  margin-bottom: 10px;
  font-size: 1.1rem;
  height: 60px;
}

.new-thread input {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

/* RESPONSIVE STYLES FOR DESKTOP SCREENS */

@media only screen and (min-width: 1024px) {
  #main > section {
    flex-direction: row;
    align-items: flex-start;
  }

  .new-thread,
  .new-post {
    margin-left: 10px;
    width: 400px;
}

